<section class="px-2.5 py-4 bg-[#295AAB] relative md:px-20">
  <div class="mx-auto container grid md:grid-cols-2 justify-around">
    <div class="md:my-10">
      <div class="text-center text-yellow-300 text-[25px] font-normal font-['Kavoon']">Lorem ipsum</div>
      <div class="flex justify-center">
        <img class="w-[360px] h-[200px]" src="../../../assets/img/email/foto_persona.svg" alt="personal"/>
      </div>
    </div>
    <div class="text-black font-['Krub']">
      <div class="text-center text-white text-lg font-black font-['Inter']">Llena tus datos y te enviaremos la información</div>
      <div class="rounded-[30px] px-5 py-5 bg-[#FCFCFF]">
        <h2>Datos del tutor</h2>
        <section class="grid-cols-2 gap-4 md:grid">
          <div>
            <h2>Nombre</h2>
            <input type="text" id="name" name="name" class="input-style" placeholder="NOMBRES">
          </div>
          <div>
            <h2>Apellidos</h2>
            <input type="text" id="last-name" name="last-name" class="input-style" placeholder="APELLIDOS">
          </div>
        </section>
        <div class="grid-cols-3 gap-2 md:grid">
          <div>
            <h2>DNI</h2>
            <input type="text" id="id" name="id" class="input-style" placeholder="1234567">
          </div>
          <div>
            <h2>Correo</h2>
            <input type="email" id="email" name="email" class="input-style" placeholder="ejemplo@correo.com">
          </div>
          <div>
            <h2>Celular</h2>
            <input type="text" id="phone" name="phone" class="input-style" placeholder="Celular">
          </div>
        </div>
        <h2>¿A qué hora te contactamos?</h2>
        <input type="time" id="time" name="time" class="input-style" placeholder="Hora de contacto">
        <h2>Grado de interés</h2>
        <input type="text" id="grade" name="grade" class="input-style" placeholder="Grado de interés">
        <button class="bg-[#144392] my-4 rounded-[30px] p-3">
          <div class="text-center text-white text-[18px] font-semibold font-['Krub']">CONSULTAR</div>
        </button>
      </div>
    </div>
  </div>
</section>
